@model Product

<h4>@Model.ProductName</h4>
<p>Price: @Model.ProductPrice</p>

<div>
    <a class="btn text-light" style="background-color:	rgb(0, 97, 239);"  asp-controller="Home" asp-action="Index">Home</a>
    <a class="btn text-light" style="background-color:	rgb(255, 126, 29);"  asp-controller="Product" asp-action="Index">Products</a>
</div>
