@model List<Product>

<div>
    <h2>All Products</h2>
</div>
@foreach (Product product in Model)
{
    <div>
        <h4>@product.ProductName</h4>
        <p>Price: @product.ProductPrice</p>
        <p><a href="/Product/Get/@product.ProductId">See</a></p>
        <hr>
    </div>
}
