@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <li class="nav-item">
        <a target="_blank" class="nav-link text-dark" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">
            <i class="fa-solid fa-unlock"></i>
            <span class="ml-2">Admin</span>
        </a>
    </li>
}

@if (User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" asp-area="" asp-controller="Account"
            asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-action="EditProfile">
            <i class="fa-solid fa-pen-to-square"></i>
            <span class="ml-2">Edit Profile</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-dark" aria-current="page" asp-area="" asp-controller="Account"
            asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-action="Logout">
            <i class="fa-solid fa-arrow-right-from-bracket"></i>
            <span class="ml-2">Logout</span>
        </a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Account"
            asp-route-returnUrl="@Context.Request.PathAndQuery()" asp-action="Login">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
            <span class="ml-2">Login</span>
        </a>
    </li>
}