<div class="text-center text-danger my-50">
    <h5 class="display-6">
        <i class="fa-solid fa-circle-xmark"></i>
        <br>
        You do not have permission to access!
    </h5>

    <div class="text-center">
        <div class="lead">
            Please contact the admin if you think otherwise.
        </div>

    </div>

    <div class="btn-group my-3">
        <a class="btn btn-outline-primary" asp-page="/contact">Contact</a>
    </div>
</div>