@page "/contact"

<div class="text-center">
    <div class="display-6">Contact</div>
    <div class="lead my-3">
        <i class="fa-solid fa-user"></i>
        <p>Dogan Seyfi Sen</p>
        <i class="fa fa-envelope"></i>
        <p>doganseyfisen@gmail.com</p>
        <i class="fab fa-linkedin"></i>
        <p><a target="_blank" href="https://www.linkedin.com/in/doganseyfisen">LinkedIn</a></p>
        <i class="fab fa-github"></i>
        <p><a target="_blank" href="https://www.github.com/doganseyfisen">GitHub</a></p>
    </div>
</div>